<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fridge Buddy</title>
</head>
<body>
<form action="#" th:action="@{/addrecipe}" th:object="${recipe}" method="post">
    <label for="name">name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <label for="description">Description</label>
    <input type="text" th:field="*{description}" id="description" placeholder="Description">
    <span th:if="${#fields.hasErrors('description')}" th:errors="*{decription}"></span>
    <label for="rating">Rating</label>
    <input type="number" th:field="*{rating}" id="rating" placeholder="Rating">
    <span th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}"></span>
    <label for="diet">Diet</label>
    <input type="text" th:field="*{diet}" id="diet" placeholder="Diet">
    <span th:if="${#fields.hasErrors('diet')}" th:errors="*{diet}"></span>
    <input type="submit" value="Add recipe">
</form>

</body>
</html>