<!DOCTYPE html>
<html xmlns:th="https://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fridge Buddy</title>
    <link rel="stylesheet" href="${homeCss}">
</head>
<body>
    <h1>Fridge Buddy</h1>
    <h3>What should we have for dinner?</h3>
    <div th:switch="${Recipes}">
        <h2 th:case="null">No recipes yet!</h2>
        <div th:case="*">
            <h2>recipes</h2>
            <table>
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Rating</th>
                    <th>Delete</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="recipe : ${Recipes}">
                    <td th:text="${recipe.name}"></td>
                    <td th:text="${recipe.description}"></td>
                    <td th:text="${recipe.rating}"></td>
                    <td th:text="${recipe.diets}"></td>
                    <td th:text="${recipe.diets[0] }"></td>
                    <td><a th:href="@{/delete/{id}(id=${recipe.id})}">Delete</a></td>
                </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/addrecipe">Add a new recipe</a></p>
    </div>
</body>
</html>